.btn {
  padding: 10px 25px;
  border-radius: 250px;
  font-size: 19px;
  outline: none;
  border: none;
  background-color: transparent;
}

.btn-primary {
  color: #fff !important;
  background-color: #ed184a !important;
}
