@font-face {
  font-family: 'Dubai';
  src: url('../fonts/DubaiW23-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/DubaiW23-Bold.woff') format('woff'), url('../fonts/DubaiW23-Bold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Dubai';
  src: url('../fonts/DubaiW23-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/DubaiW23-Medium.woff') format('woff'), url('../fonts/DubaiW23-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Dubai';
  src: url('../fonts/DubaiW23-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/DubaiW23-Regular.woff') format('woff'), url('../fonts/DubaiW23-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dubai';
  src: url('../fonts/DubaiW23-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/DubaiW23-Light.woff') format('woff'), url('../fonts/DubaiW23-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}


body,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p,
.navbar,
.brand,
.btn-simple,
.alert,
a,
.td-name,
td,
button.close {
  font-family: "Dubai", "Roboto", "Helvetica Neue", Arial, sans-serif !important;
  font-weight: bold;
}
