.loader-overlay {
  background-color: rgba(255,255,255,0.5);
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  position: fixed;
  color: $primary;
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
