.operations-team-wrapper {
  display: flex;
  flex-direction: ltr;
  height: 100vh;

  .operations-team-sidebar {
    width: 260px;
    height: 100vh;
    overflow: auto;
    background-color: $light;
    box-shadow: 0 0 0 1px darken($light,5);

    .sidebar-brand {
      display: block;
      text-align: center;
      padding: 2rem 1rem 1rem;

      img {
        max-width: 60%;
        margin: auto;
      }
    }

    .nav-item {
      &:hover {
        background-color: $secondary;
      }

      .nav-link {
        color: $secondary;

        &:hover {
          color: #fff;
        }
      }

      &.active {
        background-color: $primary;

        .nav-link {
          color: #fff;
          &:hover {
            color: transparentize(#fff, 0.2);
          }
        }
      }
    }
  }

  .operations-team-container {
    overflow: auto;
    flex-grow: 1;

    input[type='datetime-local'] {
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        display: none;
      }

      &::-webkit-clear-button {
        -webkit-appearance: none;
        display: none;
      }
    }

    .error-message {
      height: 35px;
      display: flex;
      align-items: center;

      &.bg-magenta {
        color: $magenta;
      }

      &.bg-deep-purple {
        color: $deep-purple;
      }

      &.bg-blue {
        color: $blue;
      }

      &.bg-green {
        color: $green;
      }

      &.bg-cyan {
        color: $cyan;
      }

      &.bg-yellow {
        color: $yellow;
      }

      &.bg-red {
        color: $red;
      }

      &.bg-gray {
        color: $gray;
      }

      &.bg-dark-gray {
        color: $dark-gray;
      }

      &.bg-light-gray {
        color: $light-gray;
      }
    }
  }

  .operations-team-content {
    min-height: calc(100vh - 120px);
    position: relative;

    > .container {
      .qrcode-container {
        position: absolute;
        height: 280px;
        width: 280px;
        left: 0;
        display: inline-block;
      }

      .table {
        .table-header {
          cursor: pointer;
        }

        .sort-icon {
          margin-left: 10px;
        }
      }
    }
  }

  .operations-team-header {
    box-shadow: 0 0 0 1px darken($light,5);
  }
}


@media screen and (max-width: 900px) {
  .operations-team-sidebar {
    width: 180px !important;

    .sidebar-brand, .nav-link > span {
      display: none !important;
    }

    .nav-link {
      text-align: center;
      padding-left: 0 !important;
      padding-right: 0 !important;
      .sidebar-icon {
        margin: 0 !important;
      }
    }
  }
}
