.operations-room-container {
  margin-top: -1rem;

  .fullscreen-button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    z-index: 1;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

  .fullscreen-container {
    background-color: #fff;
    height: 100vh;

    &.isFull {
      position: absolute;
      background-color: map-get($colors, 'gray');
    }

    & > .row {
      height: calc(100%/3);
      max-height: 50%;
      padding-top: 1rem;

      & > .col-md-6 {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        &:first-child {
          padding-left: 1rem;
        }
        &:last-child {
          padding-right: 1rem;
        }
      }

      &:last-child {
        padding-bottom: 1rem;
      }
    }
  }

  .scroll {
    overflow: hidden;
  }

  .table-widget {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: auto;

    .table {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
    }
  }

  .card-header {
    > .header-button {
      position: absolute;
      right: 16px;
      transform: translate(0, calc(-100% + 3px));
      cursor: pointer;

      > .simple-label-component {
        > .link {
          text-decoration: none;
          color: white;
        }
      }
    }
  }

  .agent-info-button {
    text-decoration: none;
    color: white;

    > .svg-inline--fa {
      margin-right: 8px;
    }
  }
}
