// Theme's custom variables


//
// Color system
//
$magenta:     #ed184a !default;
$deep-purple: #2e1a46 !default;

// Bootstrap colour pallete
$blue: #007bff !default;
$green: #28a745 !default;
$cyan: #17a2b8 !default;
$yellow: #ffc107 !default;
$red: #dc3545 !default;
$gray: #6c757d !default;
$dark-gray: #343a40 !default;
$light-gray: #f8f9fa !default;

$colors: () !default;
$colors: map-merge((
  "magenta":     $magenta,
  "deep-purple": $deep-purple,
  "blue": $blue,
  "green": $green,
  "cyan": $cyan,
  "yellow": $yellow,
  "red": $red,
  "gray": $gray,
  "dark-gray": $dark-gray,
  "light-gray": $light-gray,
), $colors);

$primary:   $magenta !default;
$secondary: $deep-purple !default;
