.react-select__control {
    background-color: #fff !important;
    color: #333 !important;
  }
  
  .react-select__control--is-focused {
    border-color: hsl(0,0%,80%) !important;
    box-shadow: none !important;
  }
  
  
  .react-select__indicator-separator {
    display: none !important;
  }
  
  .react-select__menu {
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-radius: 0 0 4px 4px !important;
    border: 1px solid #ccc !important;
    border-top-color: #e6e6e6 !important;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06) !important;
  }
  
  .react-select__menu-list {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  .react-select__option {
    color: #666666 !important;
    cursor: pointer !important;
    padding: 8px 10px !important;
  }
  
  .react-select__option--is-selected {
    background-color: #f5faff !important;
    /* Fallback color for IE 8 */
    background-color: rgba(0, 126, 255, 0.04) !important;
    color: #333 !important;
  }
  
  .react-select__option--is-focused {
    background-color: #ebf5ff !important;
    /* Fallback color for IE 8 */
    background-color: rgba(0, 126, 255, 0.08) !important;
    color: #333 !important;
  }