.dropdown-component {
  position: relative;
  display: flex;

  > .dropdown-btn {
    & .dropdown-toggle {
      width: 130px;
      background-color: $secondary;
      border-color: transparent;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      float: right;

      &:focus {
        outline: none;
        box-shadow: none;
        border-color: transparent;
      }
    }

    > .label {
      width: 110px;
      padding-left: 10px;
      display: flex;
      align-items: center;
      font-weight: bold;
      color: $secondary;
      border: solid 2px $secondary;
      border-radius: 10px 0 0 10px;
      user-select: none;
    }

    > .dropdown-menu {
      position: absolute;
      left: auto;
      right: 0;

      > .dropdown-item {
        &:hover {
          background-color: $primary;
          color: white;
        }
      }
    }
  }
}
