.search-component {
  position: relative;
  width: 100%;
  display: flex;

  &.on-top {
    z-index: 5;
  }

  &.no-borders {
    > .input-group {
      border: none;
    }
  }

  .form-control {
    &:focus {
      outline: none;
      box-shadow: none;
      border-color: transparent;
    }
  }

  > .input-group {
    border: solid 1px lightgray;
    border-radius: 5px;

    &.search {
      display: flex;
      align-items: center;

      > .svg-inline--fa {
        color: lightgray;
        margin-right: 16px;
      }
    }

    > .input {
      outline: none;
      border: none;


      &.has-dropdown {
        border-radius: 20px 0 0 20px;
        z-index: 3;
      }
    }

    > .dropdown-wrapper {
      .dropdown-toggle {
        background-color: $secondary;
        border-color: transparent;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &:focus {
          outline: none;
          box-shadow: none;
          border-color: transparent;
        }
      }

      .dropdown-menu {
        left: auto;
        right: 0;

        > .dropdown-item {
          &:hover {
            background-color: $primary;
            color: white;
          }
        }
      }
    }
  }
}

.width_60 {
  width: 100%;
}

.width_200 {
  width: 200px;
}

.width_100 {
  width: 100px;
}
