// Theme's custom variables


//
// Color system
//
$magenta:     #ed184a !default;
$deep-purple: #2e1a46 !default;

$colors: () !default;
$colors: map-merge((
  "magenta":     $magenta,
  "deep-purple": $deep-purple
), $colors);

$primary:   $magenta !default;
$secondary: $deep-purple !default;
